<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>g_mmpbsa</title> <meta name="keywords" content> 
	<meta name="description" content>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
	<script>
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-48631281-1', 'rashmikumari.github.io');
  		ga('send', 'pageview');
	</script>
    
  </head>
  <body>
    <div class="wrapper">

      <header>
        <h1 class="header">g_mmpbsa</h1>
        <p class="header">MM/PBSA method for GROMACS.</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/RashmiKumari/g_mmpbsa/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/RashmiKumari/g_mmpbsa/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/RashmiKumari/g_mmpbsa">View On GitHub</a></li>
        </ul>
	  	
        <p class="header">This project is maintained by <a class="header name" href="https://github.com/RashmiKumari">RashmiKumari</a></p>


      </header>
	  
      <section>
		  <nav>
			<ul>
				<li class="navigation"><a href="/g_mmpbsa">Introduction</a></li>
				<li class="navigation"><a href="Download-and-Installation.html">Installation</a></li>
				<li class="navigation"><a href="How-to-Run.html">How to run?</a></li>
				<li class="navigation"><a href="Tutorial.html">Tutorials</a></li>
				<li class="navigation"><a href="Usage.html">Usage</a></li>
				<li class="navigation"><a href="Parameters.html">Parameters</a></li>
			</ul>
			</nav>
			
	{{ content }}
      
	  </section>
	  
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
